.hb {
    width: 35px;
    aspect-ratio: 1;
    position: relative;
}

.hb1,
.hb2,
.hb3 {
    position: absolute;
    width: 35px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
}

.hb1 {
    top: 5px;
}
.hb2 {
    top: 15px;
}
.hb3 {
    top: 25px;
}

.hb1.active {
    top: 15px;
    rotate: calc(45deg + 360deg);
    background: rgb(249 115 22);
}
.hb2.active {
    scale: 0;
}
.hb3.active {
    top: 15px;
    rotate: calc(-45deg - 360deg);
    background: red;
}
